@font-face {
    font-family: 'revolvingdorregular';
    src: url('revolvingdor-webfont.woff2') format('woff2'),
         url('revolvingdor-webfont.woff') format('woff');
}

h2 {
    font-family: 'revolvingdorregular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: green;
}

/*
@font-face {
    font-family: 'conthraxsemibold';
    src: url('conthrax-sb-webfont.woff2') format('woff2'),
         url('conthrax-sb-webfont.woff') format('woff');
}

h1 {
    font-family: 'conthraxsemibold', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}
*/